{% extends "base.html" %} {% block content %}
    <div class="container mt-5">
        <div class="card">
            {% if service.service_image %}
                <img src="{{ service.service_image.url }}" style="width: 18rem; height:16rem;" class="card-img-top img-fluid" alt="{{ service.service_name }}">
            {% else %}
                <img src="https://via.placeholder.com/600x300?text=No+Image" class="card-img-top img-fluid" alt="No Image Available">
            {% endif %}

            <div class="card-body">
                <h2 class="card-title text-primary">{{ service.service_name }}</h2>
                <p class="card-text"><strong>Package:</strong> {{ service.service_package }}</p>
                <p class="card-text"><strong>Price:</strong> ₹{{ service.service_price }}</p>
                <p class="card-text"><strong>Tax:</strong> {{ service.service_tax }}%</p>
                <p class="card-text"><strong>Total Price:</strong> ₹{{ service.service_price|floatformat:2 }} + {{ service.service_tax }}% Tax</p>
                <p class="card-text"><strong>Payment Terms:</strong> {{ service.payment_terms }}</p>

                {% if service.active %}
                    <span class="badge bg-success">Active</span>
                {% else %}
                    <span class="badge bg-danger">Inactive</span>
                {% endif %}
            </div>

            <div class="card-footer text-end">
                {% if user.is_authenticated %}
                {% if subscription.status == "authorized" %}
                <button class="btn btn-success">Paid</button>
                {% else %}
                {% if service.active %}
                    <a href="{% url "pay_service" id=service.id %}" class="btn btn-primary">Buy Now</a>
                {% else %}
                    <button class="btn btn-danger" disabled>Not Available</button>
                {% endif %}
                {% endif %}
                {% else %}
                    <a href="{% url "pay_service" id=service.id %}" class="btn btn-primary">Buy Now</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
